<% @page_title = "Runner Menu" %>

<div class="menu">
	<h2>Runner Menu</h2>
	<div class="identity">Logged in as: <%= @runner.first_name %> <%= @runner.last_name %></div>
	<ul>
		<li><%= link_to('Log a run', :controller => 'runs', :action => 'new') %></li>
		<li><%= link_to('edit profile', '#') %></li>
		<li><%= link_to('Logout', :action => 'logout') %></li>
	</ul>
</div>
