<%= form_for(@run) do |f| %>
  <% if @run.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@run.errors.count, "error") %> prohibited this run from being saved:</h2>

      <ul>
      <% @run.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label @runner.first_name %> <%= f.label @runner.last_name %> 
  </div>  
  <div class="field">
    <%= f.label :dog_id %><br>
    <%= f.collection_select(:dog_id, Dog.all, :id, :name) %>
  </div>
  <div class="field">
    <%= f.hidden_field :runner_id, :value => @runner.id %>
  </div>
  <div class="field">
    <%= f.label :run_date %><br>
    <%= f.date_select :run_date %>
  </div>
  <div class="field">
    <%= f.label :duration %><br>
    <%= f.text_field :duration %>
  </div>
  <div class="field">
    <%= f.label :map_url %><br>
    <%= f.text_field :map_url %>
  </div>
  <div class="field">
    <%= f.label :pace %><br>
    <%= f.text_field :pace %>
  </div>
  <div class="field">
    <%= f.label :value %><br>
    <%= f.text_field :value %>
  </div>
  <div class="field">
    <%= f.label :account_id %><br>
    <%= f.text_field :account_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
